.banner
    $p: &
    &__panel
        background-image: url('../../assests/images/banner-bg.png')
        background-repeat: no-repeat
        background-position: right bottom
        margin-top: -78px
        padding-top: 138px
        min-height: 687px
        position: relative
        z-index: 1
        margin-bottom: 3.125rem
        +mobile
            background-image: none
        +laptop
            background-position: right
            margin-bottom: 95px
        +fullhd
            background-position: 95%
        +quadhd
            background-position: 88%
        #{$p}__content
            width: 60%
            margin: 0
            width: 100%
            +tablet
                width: 37.8125rem
                margin: 0 27%
            +desktop
                width: 37.8125rem
                margin: 3.4375rem 0 0
            +laptop
                width: 605px

        .carousel
            &-item
                background-color: #FAF7F6
                h2
                    & +
                        span
                            color: #656565
        
        #{$p}__img
            max-width: 50%
            +media-breakpoint-up(xl)
                max-width: 50%
            +media-breakpoint-up(xxl)
                max-width: 690px
            .carousel
                &-item
                    background-color: transparent
                    text-align: center
        .section
            &-video
                margin-top: 2.1875rem
                button
                    +box-shadow(none)
                    border: none
                    background: transparent

