.banner
    &-panel
        max-width: 37.8125rem
        margin-top: 3.4375rem
    .carousel
        &-item
            h2
                span
                    display: block
                    color: #656565