.col
    &-three
        .row
            div
                padding: 0 6%
                &:hover
                    .section-why &
                        .icon
                            &-box
                                &-border
                                    background-color: $primary-color
                                    boder-color: $primary-color
                            svg
                                path
                                    stroke: white
            

        .icon
            margin-bottom: 3.5625rem