.header
    &-top
        color: $white-color
        height: 2.75rem
        background-color: $black-color
        .btn
            &-close
                background-color: transparent
                +box-shadow(none)
                border: none
                top: 5px
                right: 20px
