.header
    position: fixed
    width: 100%
    z-index: 2
    top: 0
    background-color: $white-color
    +desktop
        position: relative
        background-color: transparent
    &-top
        color: $white-color
        height: 2.75rem
        background-color: $black-color
        margin-bottom: 0
        top: 0
        position: relative
        +transition(all 0.3s linear)
        +media-breakpoint-up(xl)
            margin-bottom: 25px
        &.hide
            height: 0
            top: -44px
        .btn
            &-close
                background-color: transparent
                +box-shadow(none)
                min-height: auto
                border: none
                top: 5px
                right: 1.25rem
                +mobile
                    right: .1875rem
