.section
    &-search
        max-width: 742px
        margin-top: 0
        margin-bottom: 55px
        +laptop
            margin-top: -6.875rem
            margin-bottom: 0
        .tab
            &-content
                padding: 1.125rem
                background-color: $white-color
                border: 1px solid $primary-color
                +border-radius(10px)
                button
                    min-width: 11rem
                &.show
                    border-top-left-radius: 0
