
.theme
    &-container
        &::after
            content: ""
            position: absolute
            height: 588px
            width: 96.8%
            background: #FAF7F6
            top: 50px
            z-index: 0
            +fullhd
                width: 1389px
.container
    @include media-breakpoint-up(xl)
        max-width: 1256px

    
