.btn
    &-outline
        &-warning, &-parimary
            border-color: $primary-color !important
            color: $primary-color !important
            &:hover, &:focus
                border-color: $primary-color !important
                background-color: $primary-color !important
